* {
  margin:0;
  padding:0;
}
#Bg {
  border:1px solid;
  width:800px;
  margin:0 auto;
}
#Bg #Bio {
  border:1px solid;
  width:500px;
  margin:10px;
  float:left;
}
#Bg #Photo {
  border:1px solid;
  width:210px;
  margin:10px;
  float:left;
}


.content-container {
	max-width: 850px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section {

  font-family: 'Microsoft YaHei', sans-serif;
}

.publication-category {

  font-family: 'Microsoft YaHei', sans-serif;
}

.paper {

  font-family: 'Microsoft YaHei', sans-serif;
}

.footer {
  font-family: 'Microsoft YaHei', sans-serif;
}


.flex-container {
    display: flex;
    justify-content: center; /* Align items in the center */
    font-family: 'Microsoft YaHei', sans-serif;
}

.flex-item {
    flex: 1;
    margin: 10px; /* Adjust as needed */
    max-width: 500px; /* This is optional - adjust or remove as needed */
}

.profile-photo {
    width: 300px;
    height: 300px;
}



.row {
  display: flex;
  justify-content: space-between; /* Adjust this as needed */
  align-items: center; /* Adjust this as needed */
  font-family: 'Microsoft YaHei', sans-serif;
}

.column {
  flex: 1; /* Make columns share the available space equally */
  padding: 0 10px; /* Add some padding to the left and right of each column */
}

h1,h2,h3,h4 {
  font-family:'Microsoft YaHei UI','Microsoft YaHei',DengXian,SimSun,'Segoe UI',Tahoma,Helvetica,sans-serif;
}
p {
  font-family:'Microsoft YaHei UI','Microsoft YaHei',DengXian,SimSun,'Segoe UI',Tahoma,Helvetica,sans-serif;
}


.table-style {
  width: 100%;
  max-width: 800px;
  border: 0px;
  border-spacing: 0px;
  border-collapse: separate;
  margin-right: auto;
  margin-left: auto;
}

.td-style {
  padding: 0%;
  width: 70%;
  vertical-align: middle;
}

.header-style {
  text-align: left;
  font-family: arial;
  padding-top: 20px;  /* You can adjust this value as needed */
}

.p-style {
  text-align: left;
}

.p-style2 {
  padding: 2%;
  vertical-align: middle;
  color: #606060;
}

.p-style3 {
  text-align: center;
  vertical-align: middle;
  font: 14px arial;
}


.img-container {}

.img-style {
  width: 90%;
  max-width: 100%;
}
